<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Manage Your Prescription Notifications</h5>
          <p>
            <strong>ID</strong>: {{drugEntry.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{drugEntry.text}}</p>
          <p>
            <strong>Description:</strong> {{drugEntry.description}}</p>
            <p>
            <strong>Dosage:</strong> {{drugEntry.dosage}}</p>
            
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
